/*Color Palette------------
	Blue	009eff
	Grey	d0d0d0
	Black	000000
	White	ffffff
-------------------------*/

body {
	width: 1020px;
	margin: 0 auto;
	background-image: url("../images/bbsitebg.jpg");
}

nav {
	float: right;
	padding-top: 50px;
	font-family: Electrolize;
}

h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	font-family: Poiret One;
}

aside {
	background: #009eff;
	padding: 15px;
	width: 200px;
	float: right;
}

footer {
	background: #000000;
	color: #ffffff;
	clear: both;
}

p {
	color: black;
	float: left;
}

.bio {
	width: 820;
}

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	font-variant: small-caps;
}