/*Color Palette------------
	Blue	009eff
	Grey	d0d0d0
	Black	000000
	White	ffffff
-------------------------*/


/*------------------Header------------------*/
head {
	margin: 50px;
}

nav {
	float: right;
	padding-top: 50px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: Electrolize;
	background-color: #009eff;
}


/*-------------------Body-------------------*/
body {
	width: 70%; /*1020px*/
	margin: 0 auto;
	background-image: url("../images/bbsitebg2.png");
	background-repeat: repeat-x;
	background-color: #d0d0d0;
	background-attachment: scroll;
	font: 100%/1.5 "Helvetica", Arial, Georgia;
}


.portfolio {
	list-style-type: none;
	float: left;
	outline: 0;
}

.note {
	color: 000000;
	float: left;
	padding-left: 1.4705882; /*15px;*/
}

li {
	float: left;
	margin: 1.4705882%; /*15px;*/
	list-style-type: none;
}


.welcome{
	background: #ffffff;
	padding: .49019608%; /*5px;*/
}


h2, h3, h4, h5, h6 {
	margin: 0;
}


h1 {
	font-weight: normal;
	font-size: 1.5em;
	font-family: Poiret One;
	text-shadow: 2px 2px 2px #919191;
	color: #009eff;
}


aside {
	background: #009eff;
	padding: 1.4705882; /*15px;*/
	width: 19.607843%; /*200px;*/
	float: right;
	opacity: 0.7;
	margin-bottom: 2.4509804%; /*25px;*/
	padding-left: 1%; /*3px*/
}


footer {
	background: #000000;
	color: #ffffff;
	clear: both;
}


p {
	color: black;
	float: left;
}


#bio {
	width: 820;
	padding: 1.4705882; /*15px;*/
}

article {
	float: left;
}


/*---------------------footer----------------------*/

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	font-variant: small-caps;
}